User
/* Fonts */
@font-face {
    font-family: 'uniFont';
    src: url(../fonts/DINNextLTPro-Regular.otf) format('opentype');
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #133A32;
    height: 100vh;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#word-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    width: 100%;
    
    /* background-color: aquamarine; */
}

#row-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center ;
}
#row-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#row-3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#row-4 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.mm-word {
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-family: 'uniFont', sans-serif;
    border-style: solid;
    border-color: #fff;
    border-radius: 4em;
    font-size: 0.5em;
    white-space: nowrap;
    letter-spacing: 0.2em;
    /* Marign */
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 1%;
    margin-left: 1%;
    /* padding */
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-right: 3em;
    padding-left: 3em;
    color: #fff;
    cursor:pointer;
    /* user-select:none; */
    text-align: center;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
    
    
}



  .word-active {
      background-color: #FEB10B ;
      transition: 1s ease ;
      /* animation: pulse 1.5s ; */
      border-color: rgba(254, 177, 11, 1);
    }
    


/* @keyframes pulse {
    0% {
      transform:(scale(.9));
    }
    70% {
      transform:(scale(1));
      box-shadow: 0 0 0 0.7vh rgba(254, 177, 11, 0.5);
      
    }
      100% {
      transform:(scale(.9));
      box-shadow: 0 0 0 0 rgba(222, 4, 102, 0);
      
    }
  }
 */
